html {
    position: relative;
}

body {
    margin-bottom: 125px;
    margin-top: 55px;
}

.jumbotron {
    background-image: url('../img/home-office.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -170px;
    height: 400px;
    overflow: hidden;
}

.jumbotron img {
    width: 135px;
    margin-bottom: 70px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
    color:cornflowerblue;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}



hr {
    width: 250px;
    margin: 10px auto 20px;
    border-top: 3.5px solid #666;
}

.navbar-nav {
    margin-left: 0;
}

@media (min-width:769px) {
    .navbar-nav {
        position: absolute;
        right: 0;
    }
}
section {
    min-height: 600px;
}

.pKiri, .pKanan {
    opacity: 0;
    transform: translate(-50px,0) rotate(30deg);
    transition: .9s;
}

.pKanan {
    transform: translate(50px,0) rotate(-30deg);
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}

.portofolio {
    background-color: rgb(117, 117, 117);
}

.portofolio .thumbnail{
    opacity: 0;
    transition: .5s;
    transform: translate(0, -40px);
}

.portofolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.portofolio hr {
    border-top: 3.5px solid white;
}

.portofolio .col-sm-12 {
    padding-top: 30px;
    box-sizing: border-box;
}

.contact .col-sm-12 {
    padding-top: 30px;
    box-sizing: border-box;
}

.contact {
    min-height: 700px;
}

.thumbnail {
    border: 3px solid white;
    border-radius: 10px;
}

.portofolio .col-sm-3 {
    margin: 0 20px 20px 70px;
}

input, select {
    margin-bottom: 10px;
}

footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    background-color: #666;
}

footer p {
    color: #eaeaea;
    font-size: 0.9em;
    padding-top: 30px;
}

footer p i {
    color: lightskyblue;
}
@media (min-width: 600px){
    .portofolio .col-sm-3 {
        margin: 20px 20px 20px 195px;
    }
}
